.mycard {
    background: rgb(194, 230, 253);
    width: 70vw;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 3vw;
    padding-left: 3vw;
    border: 0.1px solid rgba(0, 0, 0, 0.116);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(0, 17, 255, 0.11) 1px 1px 5px;
}
.mycard h1 {
    font-size: 20px;
}
.mycard:hover {
    background: rgb(163, 219, 253);
    box-shadow: none;
    top: 1px;
    left: 1px;
    cursor: pointer;
}
@media (max-width: 431px) {
    .mycard {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 13px !important;
        margin-right: -50px !important;
        margin-bottom: 10px;
        min-width: 93vw !important;
    }
    .mycard h1 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .mycard span {
        font-size: 14px;
    }
}
@media (min-width: 431px) and (max-width: 720px) {
    .mycard {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 8px;
    }
    .mycard h1 {
        font-size: 23px;
        margin-bottom: 0px;
    }
    .mycard span {
        font-size: 12px;
    }
}

.sidebar {
    color: aliceblue;
    float: left;
    top:50;
    left:0;
    width: 260px;
    height: 97.5vh;
    background: #002849;
    transition: all 0.2s ease-in-out;
}