.header {
  overflow: hidden;
  background-color: rgb(109, 99, 172);
  opacity: 0.9;
  padding: 18px 10px;
}

/* Style the header links */
.header a{
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header-right-mobile a{
  color: white;
  font-size: 18px !important;
  text-decoration: none !important;
  line-height: 25px !important;
  border-radius: 4px !important;
  
}

.project_name{
  cursor: pointer;
  user-select: none;
  color:white;
  float: left;
  text-align: center;
  padding: 12px;
  padding-right: 0 !important;
  text-decoration: none;
  font-size: 35px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  padding-top: 0;
  padding-bottom: 0;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  user-select: none;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: lightskyblue;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: lightskyblue;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
/*--------------------------------------------------------------*/

body{
  background-color:rgb(226, 244, 255);
}

h1{
  color: crimson;
}

a {
  color: darkslateblue;
}

p{
  color: firebrick;
  margin: 5px 0px;
}


.container{
  padding: 5px;
  text-decoration: none;
  border: none;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: rgb(84, 176, 233);
  transition: 0.3s;
  padding: 2px 16px;
  width: 60%;
  border-radius: 10px;
  display: inline-block;
  background-color: rgb(165, 214, 245);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


input[type='text'], input[type='password'],input[type='number'],input[type='email'],input[type='checkboxa']{
  width: 20vw;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#grad {
  background-image: linear-gradient(to bottom right, lightskyblue, darkslateblue);
}

input[type='text']:focus, input[type='button']:focus, input[type='password']:focus{
  
  /*background-color: rgb(229, 242, 247);*/
  outline: none;
}

.select_class{
  width: 20%;
  padding: 5px;
  margin: 10px 0px 10px 0px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

br{
  border: 1px #f1f1f1;
}

.submitButton{
  background-color: darkslateblue ;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 10%
}

.submitButton:hover{
  opacity: 100%;
}

.registerButton{
  background-color: darkslateblue ;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  width: 15%
}

.registerButton:hover{
  opacity: 100%;
}

.profile-div h5{
  display: inline-block;
}

.profile-div span {
  font-size: 18px;
}

/*  */
.link{
  color:black !important;
  font-family: Arial !important;
  font-size: 17px !important;
}

.loginform{
  background-size: auto;
  background: rgb(194, 230, 253);
  height: auto;
  width: 30vw;
  min-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 25px;
}

.loginform p{
  color: black;
  font-size: 12px;
  font-family:Arial;

}

.loginform a{
  color: black;
  font-size: 17px;
  font-family:Arial;

}

.loginform h1{
  color: darkslateblue;
  font-family: Arial;
  font-size: 25px;
}


.loginform h2{
  
  background-color: black;
  font-family: Arial;
  font-size: 22px;
  width: 220px;
  text-align: center;
  color: darkslateblue;
  padding: 8px;
  margin: 2px;
  border-radius: 10px;
}

.loginform input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  height: 35px;
  width: 98%;
  color: black;
  font-family: Arial;
  font-size: 15px;
  background: transparent;
  border-top: none;
  border-bottom: 1px solid darkslateblue;
  border-left: none;
  border-right: none;
  letter-spacing: 1px;
  margin-top: 30px;

}

.loginform input:focus{
  outline: none;
}

.loginform:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


::placeholder{
  color: black;
  font-family: Arial;
}

.registerform{
  background: rgb(194, 230, 253);
  height: auto;
  width: 30vw;
  min-width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 30px;

}

.registerform p{
  color: black;
  font-size: 12px;
  font-family:Arial;

}

.registerform a{
  color: black;
  font-size: 17px;
  font-family:Arial;
  padding-top: 10px;
}

.registerform h1{
  color: darkslateblue;
  font-family: Arial;
  font-size: 25px;
}

.registerform h2{
  
  background-color: black;
  font-family: Arial;
  font-size: 22px;
  width: 220px;
  text-align: center;
  color: darkslateblue;
  padding: 8px;
  margin: 2px;
  border-radius: 10px;
}

.registerform input{
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  width: 100%;
  font-family: Arial;
  font-size: 15px;
  background: transparent;
  border-top: none;
  border-bottom: 1px solid darkslateblue;
  border-left: none;
  border-right: none;
  letter-spacing: 1px;
  margin-top: 30px;
  
}

.registerform input:focus{
  outline: none;
}


.registerform:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.btnn{
  width: fit-content;
  min-width: 150px;
  height: 40px;
  background: darkslateblue;
  border: none;
  color: #fff;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 18px;
}

.btnn :hover{
  background: #fff;
  color: darkslateblue;
}

.btnn a{
  text-decoration: none;
  font-weight: bold;
  color: black;

}

.mylabel{
  color: black;
  padding: 8px;
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 1px;
}

.radiobtn{
  height: 15px !important;
  width: 15px !important;
  font-display: 10px !important;
  margin-left: 10px !important;
}

.selectopt{
  
  font-family: Arial;
  font-size: 15px;
  letter-spacing: 1px;
}

.selectval{

  height: 15px !important;
  width: 15px !important;
  font-display: 10px !important;
  margin-left: 10px !important;

}

.icon {
  background-size: auto;
  background: rgb(194, 230, 253);
  height: auto;
  width: 30vw;
  min-width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
  
}

.icon h1{
  color: darkslateblue;
  font-family: Arial;
  font-size: 25px;
}

.icon p{
  color: black;
  font-size: 15px;
  font-family:Arial;
}

.icon ion-icon{
  color: black;
  font-size: 30px;
  padding-left: 14px;
  padding-right: 5px;
  transition: 03s ease;
}

.icon ion-icon:hover{
  color: darkslateblue;
}

.aboutpg{
  background: rgb(194, 230, 253);
  height: auto;
  width: 50vw;
  min-width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;

}

.aboutpg p{
  font-family: Arial,sans-serif;
  font-size: 14px;
  color: black;
  text-align: left;
}

.names{
  font-family: Arial,sans-serif;
  font-size: 14px;
  color: black;
  text-align: center;
}


.aboutpg h5{
  font-family: Arial,sans-serif;
  font-size: 20px;
  color: darkslateblue;
}


.edit-form{
  background: rgb(194, 230, 253);
  height: auto;
  width: 30vw;
  min-width: 300px;
  margin: 30px auto;
  border-radius: 10px;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif !important;

}

.edit-form p{
  color: black;
  font-size: 12px;
  font-family:Arial ;
}

.edit-form a{
  color: darkslateblue;
  font-size: 17px;
  font-family:Arial !important;
}

.edit-form h1{
  color: darkslateblue;
  font-family: Arial !important;
  font-size: 25px;
}

.edit-form h2{
  /* background-color: #fff; */
  font-family: Arial;
  font-size: 22px;
  width: 300px;
  text-align: center;
  color:black;
  padding: 8px;
  margin: 2px;
  border-radius: 10px;
  align-content: center;
  
}

.edit-form input{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  height: 35px;
  width: 95%;
  color: black;
  font-family: Arial;
  font-size: 15px;
  background: transparent;
  border-top: none;
  border-bottom: 1px solid darkslateblue;
  border-left: none;
  border-right: none;
  letter-spacing: 1px;
  margin-top: 30px;

}

.edit-form input:focus{
  outline: none;
}

.edit-form .btnn {
  margin: 10px auto;
}


.profile-div h5{
  display: inline-block;
}

.profile-div span {
  font-size: 18px;
}

.no-txt-cursor {
  cursor: default;
}

.non-selectable{
  user-select: none;
}

.detail {
  padding: 30px 60px;
  background-color: rgb(221, 232, 255);
  margin: 30px auto;
  text-align: center;
}

@media (max-width: 582px) {
  
  .hospitalDetailContainer {
    position: relative;
    width: 90vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  
  .detail {
    padding: 30px 20px;
  }
  .detailHR {
    margin-left: -17px !important;
    width: 89vw !important;
  }
}
