.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  .sidebar {
    display: none;
  }

  .mycard {
    float: none;
    width: 90px;
    min-width: 85vw;
  }

  .header .logo {
    margin-left: 0px !important; 
  }

  .header .logo img {
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
  }

  .header .project_name {
    font-size: 19px;
    margin-left: -12px;
  }

  .header-right {
    padding: 7px 0 7px 0;
  }

  .header-right a{
    font-size: 15px !important;
    margin-left: 1px !important;
    margin-right: 1px !important;
    padding: 5px 5px 5px 5px !important;
  }
}