

.panel {
  display: none;
  margin-top: -30px;
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s linear;
}

.panel-hide {
  display: none !important;
}

#menuBtn {
  display: none;
  font-size: 18px;
  padding: 3px 9px;
  margin-top: -8px !important;
  margin-bottom: -15px !important;
}
.panel-margin-top {
  margin-top: -10px;
}

.mycard {
  width: 75vw !important;
  margin-right: -50px !important;
}

.pagination span {
  user-select: none;
}

.pagination span:hover{
  background-color: rgb(159, 210, 255);
  border-radius: 50%;
}

.dropdown-sorting {
  display: none;
}

@media (max-width: 1160px) {
  .mycard {
    width: 66vw !important;
  }
}
@media (max-width: 906px) {
  .mycard {
    width: 60vw !important;
  }
}
@media (max-width: 750px) {
  .mycard {
    width: 55vw !important;

  }
}
@media (max-width: 700px) {

  .dropdown-sorting {
    display: inline-block;
  }

  .dropdown-sorting .dropdown-item {
    font-size: 12px;
  }

  .dropdown-sorting button {
    font-size: 12px;
  }

  .header {
    padding-bottom: 0px !important;
  }

  #menuBtn {
    display: inline-block;
  }

  .sidebar {
    display: none;
  }

  .mycard {
    float: none;
    width: 90px;
    min-width: 85vw;
  }

  .header .logo {
    margin-left: 0px !important; 
    margin-top: -3px !important; 
    margin-bottom: -15px !important; 
    user-select: none;
  }

  .header .logo img {
    height: 30px;
    width: 30px;
    padding: 0;
  }

  .header .project_name {
    font-size: 19px;
    margin-left: -12px;
    margin-top: -15px;
    margin-bottom: -25px !important;
    padding-bottom: 0 !important;
  }

  .header-right-mobile {
    margin-bottom: -7px;
  }

  .header-right {
    display: none;
  }

  .panel {
    display: block;
    padding-top: 4px;
  }
  
  .panel-margin-top {
    padding-top: 10px;
    margin-bottom: 5px;
  }

  .panel a{
    padding: 6px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }

}
.collapsible-content {
  /* padding: 0 18px; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  background-color: #f1f1f1;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 6px solid transparent;
  background-clip: content-box;
  background: rgba(53, 53, 53, 0.178);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #292929c2;
}
/* custom scrollbar for firefox */

.scroller {
  scrollbar-color: #7f7f7f white;
  /* thumb and track color */
  scrollbar-width: thin;
}