.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel {
  display: none;
  margin-top: -30px;
  padding: 0 18px;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s linear;
}

#menuBtn {
  display: none;
  font-size: 10px;
  padding: 5px 10px;
  margin-top: -4px !important;
  margin-bottom: -4px !important;
}
.panel-margin-top {
  margin-top: -10px;
}

@media (max-width: 700px) {

  #menuBtn {
    display: inline-block;
  }

  .sidebar {
    display: none;
  }

  .mycard {
    float: none;
    width: 90px;
    min-width: 85vw;
  }

  .header .logo {
    margin-left: 0px !important; 
    margin-top: -15px !important; 
    margin-bottom: -15px !important; 
  }

  .header .logo img {
    height: 30px;
    width: 30px;
    padding: 0;
  }

  .header .project_name {
    font-size: 19px;
    margin-left: -12px;
    margin-top: -15px;
    margin-bottom: -15px;
  }

  .header-right {
    display: none;
  }

  .panel {
    display: block;
    padding-top: 4px;
  }
  
  .panel-margin-top {
    padding-top: 10px;
  }

  .panel a{
    padding: 6px !important;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
